// Caviar_dreams_bold
@font-face {
  font-family: 'Caviar dreams';
  src: url('../fonts/caviar-dreams-bold.woff') format('woff'),
    url('../fonts/caviar-dreams-bold.woff2') format('woff2');
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}

// Caviardreams
@font-face {
  font-family: 'Caviar dreams';
  src: url('../fonts/caviar-dreams.woff') format('woff'),
    url('../fonts/caviar-dreams.woff2') format('woff2');
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

// CeraPro-Regular
@font-face {
  font-family: 'Cera pro';
  src: url('../fonts/CeraPro-Regular.woff') format('woff'),
    url('../fonts/CeraPro-Regular.woff2') format('woff2');
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

// CeraPro-Bold
@font-face {
  font-family: 'Cera pro';
  src: url('../fonts/CeraPro-Bold.woff') format('woff'),
    url('../fonts/CeraPro-Bold.woff2') format('woff2');
  font-style: normal;
  font-weight: 700;
  display: swap;
}

//CeraPro-Light
@font-face {
  font-family: 'Cera pro';
  src: url('../fonts/CeraPro-Light.woff') format('woff'),
    url('../fonts/CeraPro-Light.woff2') format('woff2');
  font-style: normal;
  font-weight: 300;
  display: swap;
}

// CeraPro-Medium
@font-face {
  font-family: 'Cera pro';
  src: url('../fonts/CeraPro-Medium.woff') format('woff'),
    url('../fonts/CeraPro-Medium.woff2') format('woff2');
  font-style: normal;
  font-weight: 500;
  display: swap;
}
