:root {
  --primary-text-color: #2b2b2b;
  --primary-title-color: #487996;
  --primary-background-color: #ffffff;
  --element-background-color: #f5f5fa;
  --element-grey-color: #cdcdcd;
  --bgd-form-color: rgba(72, 121, 150, 0.5);
  --main-icon-color: #008cef;
  --main-font: 'Cera pro', sans-serif;
  --second-font: 'Caviar dreams', sans-serif;
}
