<!-- заголовок можна видаляти, теги main залишаємо -->
<!--Contact page-->

<main>
  <div class="container contact-page">
    <!--Contact page hero section-->

    <section class="contact-page__hero section">
      <h1 class="main__title-section contact-page__header-primary">контакти</h1>
      <div class="contact-page__hero-wrapper">
        <div class="video-wrapper contact-page__hero-item">
          <iframe
            class="embedded-video"
            src="https://www.youtube.com/embed/n_muoXfXlEg"
            title="YouTube video player"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen
          ></iframe>
        </div>
        <div class="contact-page__hero-item hero-description">
          <p class="hero-description__item paragraph-text">
            Людина, уперше побачивши процес 3D друку, може легко захопитися спостереженням за цим
            процесом не на десяток хвилин.
          </p>
          <p class="hero-description__item paragraph-text">
            Наша команда створює timelapse відео, щоб ви могли краще ознайомитися з технологією 3D
            друку і просто помилуватися красою цього процесу.
          </p>
          <p class="hero-description__item paragraph-text">Приємного перегляду!</p>
        </div>
      </div>
    </section>

    <div class="contact-page--contact-wrapper">
      <!--Contact page contact form-->
      
      <section class="contact-page__contact-form section">
        
          <h2 class="second__title-section contact-page__header-secondary">зв'яжіться з нами</h2>
          <form action="#">
            <div class="contact-page__form-field">
              <input id="username" class="contact-page__form-input" type="text" name="username" minlength="2" title="Мінімум 2 символи" placeholder=" "
                required />
              <label for="username" class="contact-page__form-label">Ім'я</label>
            </div>
      
            <div class="contact-page__form-field">
              <input id="user-email" type="email" name="email" class="contact-page__form-input" placeholder=" " required />
              <label for="user-email" class="contact-page__form-label">Email</label>
            </div>

            <label class="contact-page__comment-label">Повідомлення</label>
      
            <div class="contact-page__comment-wrapper">
              
              <textarea name="comments" placeholder="Залишіть своє повідомлення" class="contact-page__comment-area"></textarea>
              
      
              <label for="attach-file" class="contact-page__attach-file">
                <svg width="22" height="20">
                  <use href="./images/svg/icons.svg#clip"></use>
                </svg>
              </label>
              <input type="file" name="file" id="attach-file" hidden />
      
            </div>
      
      
      
            <p class="contact-page__attach-file-remark paragraph-text">*Прикріпіть зображення / креслення / STL / Obj / CAD-модель</p>
            <button type="submit" class="btn__send-form contact-page__button">відправити</button>
          </form>
        
      </section>
      
      <!--Contact page contact information-->
      
      <section class="contact-page__contacts section">
        <div class="contact-page__contacts-list">
          <h2 class="second__title-section contact-page__header-secondary">Телефони</h2>
          <ul class=" list">
            <li class="contact-page__contacts-item">
              <a href="tel:+380957384551" class="contact-page__contacts-item-link link">+38 (095) -73-84-551</a>
            </li>
            <li class="contact-page__contacts-item">
              <a href="tel:+380980025235" class="contact-page__contacts-item-link link">+38 (098) -00-25-235</a>
            </li>
          </ul>
        </div>
        <div class="contact-page__contacts-list">
          <h2 class="second__title-section contact-page__header-secondary"> <span class="email-header">Email</span> </h2>
          <div>
            <a href="mailto:3dfreeform.info@gmail.com" class="contact-page__contacts-item-link link">3dfreeform.info@gmail.com</a>
          </div>
        </div>
        <div class="contact-page__contacts-list">
          <h2 class="second__title-section contact-page__header-secondary">Робочий час</h2>
          <ul class="list">
            <li class="contact-page__worktime-item">
              <p >Пн-Пт:&nbsp;</p>
              <p >З 8:00 До 19:00</p>
            </li>
            <li class="contact-page__worktime-item">
              <p >Сб, Нд:&nbsp;</p>
              <p >З 10:00 До 17:00</p>
            </li>
          </ul>
        </div>
      </section>
        
      
        
      
        

    </div>

   
  </div>
</main>

