<!-- MAIN-GALLERY-SECTION -->
<section class="main-gallery section">
<div class="container">
    <h2 id="gallery" class="main-gallery__title main__title-section">Галерея</h2>
    <ul class="main-gallery__list list">
        <li class="main-gallery__item">
            <picture class="picture">
                <source media="(min-width: 1440px)" srcset="./images/main-gallery/desktop/gallery-desktop1.jpg 1x, ./images/main-gallery/desktop/gallery-desktop1@2x.jpg 2x">
                <source media="(min-width: 768px)" srcset="./images/main-gallery/tablet/gallery-tablet1.jpg 1x, ./images/main-gallery/tablet/gallery-tablet1@2x.jpg 2x">
                <source media="(min-width: 320px)" srcset="./images/main-gallery/mobile/gallery-mobile1.jpg 1x, ./images/main-gallery/mobile/gallery-mobile1@2x.jpg 2x">
            <img src="./images/main-gallery/mobile/gallery-mobile1.jpg" alt="запчастина-1">
            </picture>
            <h3 class="main-gallery__text paragraph-text">Інженерні методи аналізу та контролю якості</h3>
        </li>
        <li class="main-gallery__item">
        <picture class="picture">
            <source media="(min-width: 1440px)" srcset="./images/main-gallery/desktop/gallery-desktop2.jpg 1x, ./images/main-gallery/desktop/gallery-desktop2@2x.jpg 2x">
            <source media="(min-width: 768px)" srcset="./images/main-gallery/tablet/gallery-tablet2.jpg 1x, ./images/main-gallery/tablet/gallery-tablet2@2x.jpg 2x">
            <source media="(min-width: 320px)" srcset="./images/main-gallery/mobile/gallery-mobile2.jpg 1x, ./images/main-gallery/mobile/gallery-mobile2@2x.jpg 2x">
            <img src="./images/main-gallery/mobile/gallery-mobile2.jpg" alt="міні авто під мікроскопом">
        </picture>
            <h3 class="main-gallery__text paragraph-text">Високоточне 3D сканування</h3>
        </li>
        <li class="main-gallery__item">
            <picture class="picture">
                <source media="(min-width: 1440px)" srcset="./images/main-gallery/desktop/gallery-desktop3.jpg 1x, ./images/main-gallery/desktop/gallery-desktop3@2x.jpg 2x">
                <source media="(min-width: 768px)" srcset="./images/main-gallery/tablet/gallery-tablet3.jpg 1x, ./images/main-gallery/tablet/gallery-tablet3@2x.jpg 2x">
                <source media="(min-width: 320px)" srcset="./images/main-gallery/mobile/gallery-mobile3.jpg 1x, ./images/main-gallery/mobile/gallery-mobile3@2x.jpg 2x">
                <img src="./images/main-gallery/mobile/gallery-mobile3.jpg" alt="запчастина-2">
            </picture>
            <h3 class="main-gallery__text paragraph-text">Створення точної копії на базі сканування reverse engineering</h3>
        </li>
        <li class="main-gallery__item">
            <picture class="picture">
                <source media="(min-width: 1440px)" srcset="./images/main-gallery/desktop/gallery-desktop4.jpg 1x, ./images/main-gallery/desktop/gallery-desktop4@2x.jpg 2x">
                <source media="(min-width: 768px)" srcset="./images/main-gallery/tablet/gallery-tablet4.jpg 1x, ./images/main-gallery/tablet/gallery-tablet4@2x.jpg 2x">
                <source media="(min-width: 320px)" srcset="./images/main-gallery/mobile/gallery-mobile4.jpg 1x, ./images/main-gallery/mobile/gallery-mobile4@2x.jpg 2x">
                <img src="./images/main-gallery/mobile/gallery-mobile4.jpg" alt="рука біля моніторів">
            </picture>
            <h3 class="main-gallery__text paragraph-text">Всі цикли 3D проектування, створення фотореалістичних цифрових моделей</h3>
        </li>
    </ul>
</div>
</section>
