<section class="section">

    <div class="container more-photos__container">
        
        <h2 class="main__title-section main__title-section--margin">більше фото</h2>
            <ul class="more-photos__list list" data-modal-open>
                <li class="more-photos__item">
                    <a href="#">
                    <picture class="picture">
                        <source media="(min-width: 1440px)"
                            srcset="./images/more-photo/more-photo-1.jpg 1x, ./images/more-photo/more-photo-1@2x.jpg 2x">
            
                        <source media="(min-width: 768px)"
                            srcset="./images/more-photo/more-photo-1-tab.jpg 1x, ./images/more-photo/more-photo-1-tab@2x.jpg 2x">
            
                        <source media="(min-width: 320px)"
                            srcset="./images/more-photo/more-photo-1-mob.jpg 1x, ./images/more-photo/more-photo-1-mob@2x.jpg 2x">
            
                        <img class="picture" src="./images/more-photo/more-photo-1.jpg"
                            alt="декілька надрукованих 3д моделей: череп, акула, слон, кораблик, міньон та інші">
                    </picture>
                    </a>
                </li>
                <li class="more-photos__item">
                    <a href="#">
                    <picture>
                        <source media="(min-width: 1440px)"
                            srcset="./images/more-photo/more-photo-2.jpg 1x, ./images/more-photo/more-photo-2@2x.jpg 2x">
            
                        <source media="(min-width: 768px)"
                            srcset="./images/more-photo/more-photo-2-tab.jpg 1x, ./images/more-photo/more-photo-2-tab@2x.jpg 2x">
            
                        <source media="(min-width: 320px)"
                            srcset="./images/more-photo/more-photo-2-mob.jpg 1x, ./images/more-photo/more-photo-2-mob@2x.jpg 2x">
            
                        <img class="picture" src="./images/more-photo/more-photo-2.jpg" alt="архітектурна 3д модель">
                    </picture>
                    </a>
                </li>
                <li class="more-photos__item">
                    <a href="#">
                    <picture>
                        <source media="(min-width: 1440px)"
                            srcset="./images/more-photo/more-photo-3.jpg 1x, ./images/more-photo/more-photo-3@2x.jpg 2x">
            
                        <source media="(min-width: 768px)"
                            srcset="./images/more-photo/more-photo-3-tab.jpg 1x, ./images/more-photo/more-photo-3-tab@2x.jpg 2x">
            
                        <source media="(min-width: 320px)"
                            srcset="./images/more-photo/more-photo-3-mob.jpg 1x, ./images/more-photo/more-photo-3-mob@2x.jpg 2x">
            
                        <img class="picture" src="./images/more-photo/more-photo-3.jpg" alt="модель робота Волли">
                    </picture>
                    </a>
                </li>
                <li class="more-photos__item more-photos__item--hidden">
                    <a href="#">
                    <picture>
                        <source media="(min-width: 1440px)"
                            srcset="./images/more-photo/more-photo-4.jpg 1x, ./images/more-photo/more-photo-4@2x.jpg 2x">
            
                        <source media="(min-width: 768px)"
                            srcset="./images/more-photo/more-photo-4-tab.jpg 1x, ./images/more-photo/more-photo-4-tab@2x.jpg 2x">
            
                        <img class="picture" src="#" alt="підставка для ручек у формі черепа">
                    </picture>
                    </a>
                </li>
                <li class="more-photos__item more-photos__item--hidden">
                    <a href="#">
                    <picture>
                        <source media="(min-width: 1440px)"
                            srcset="./images/more-photo/more-photo-5.jpg 1x, ./images/more-photo/more-photo-5@2x.jpg 2x">
            
                        <source media="(min-width: 768px)"
                            srcset="./images/more-photo/more-photo-5-tab.jpg 1x, ./images/more-photo/more-photo-5-tab@2x.jpg 2x">
            
                        <img class="picture" src="#" alt="модель танка Т-29">
                    </picture>
                    </a>
                </li>
                <li class="more-photos__item more-photos__item--hidden">
                    <a href="#">
                    <picture>
                        <source media="(min-width: 1440px)"
                            srcset="./images/more-photo/more-photo-6.jpg 1x, ./images/more-photo/more-photo-6@2x.jpg 2x">
            
                        <source media="(min-width: 768px)"
                            srcset="./images/more-photo/more-photo-6-tab.jpg 1x, ./images/more-photo/more-photo-6-tab@2x.jpg 2x">
            
                        <img class="picture" src="#" alt="дві настільні лампи, біла та помаранчева">
                    </picture>
                    </a>
                </li>
                <li class="more-photos__item more-photos__item--hidden">
                    <a href="#">
                    <picture>
                        <source media="(min-width: 1440px)"
                            srcset="./images/more-photo/more-photo-7.jpg 1x, ./images/more-photo/more-photo-7@2x.jpg 2x">
            
                        <source media="(min-width: 768px)"
                            srcset="./images/more-photo/more-photo-7-tab.jpg 1x, ./images/more-photo/more-photo-7-tab@2x.jpg 2x">
            
                        <img class="picture" src="#" alt="модель кузова спортивної машинки">
                    </picture>
                    </a>
                </li>
                <li class="more-photos__item more-photos__item--hidden">
                    <a href="#">
                    <picture>
                        <source media="(min-width: 1440px)"
                            srcset="./images/more-photo/more-photo-8.jpg 1x, ./images/more-photo/more-photo-8@2x.jpg 2x">
            
                        <source media="(min-width: 768px)"
                            srcset="./images/more-photo/more-photo-8-tab.jpg 1x, ./images/more-photo/more-photo-8-tab@2x.jpg 2x">
            
                        <img class="picture" src="#" alt="модель куполу Капітолія">
                    </picture>
                    </a>
                </li>
                <li class="more-photos__item more-photos__item--hidden">
                    <a href="#">
                    <picture>
                        <source media="(min-width: 1440px)"
                            srcset="./images/more-photo/more-photo-9.jpg 1x, ./images/more-photo/more-photo-9@2x.jpg 2x">
            
                        <source media="(min-width: 768px)"
                            srcset="./images/more-photo/more-photo-9-tab.jpg 1x, ./images/more-photo/more-photo-9-tab@2x.jpg 2x">
            
                        <img class="picture" src="#" alt="нічна лампа у формі гриба">
                    </picture>
                    </a>
                </li>
                <li class="more-photos__item more-photos__item--hidden">
                    <a href="#">
                    <picture>
                        <source media="(min-width: 1440px)"
                            srcset="./images/more-photo/more-photo-10.jpg 1x, ./images/more-photo/more-photo-10@2x.jpg 2x">
            
                        <source media="(min-width: 768px)"
                            srcset="./images/more-photo/more-photo-10-tab.jpg 1x, ./images/more-photo/more-photo-10-tab@2x.jpg 2x">
            
                        <img class="picture" src="#" alt="надруковані методом 3д друку лед лампи">
                    </picture>
                    </a>
                </li>
                <li class="more-photos__item more-photos__item--hidden">
                    <a href="#">
                    <picture>
                        <source media="(min-width: 1440px)"
                            srcset="./images/more-photo/more-photo-11.jpg 1x, ./images/more-photo/more-photo-11@2x.jpg 2x">
            
                        <source media="(min-width: 768px)"
                            srcset="./images/more-photo/more-photo-11-tab.jpg 1x, ./images/more-photo/more-photo-11-tab@2x.jpg 2x">
            
                        <img class="picture" src="#" alt="модель тесла трак">
                    </picture>
                    </a>
                </li>
                <li class="more-photos__item more-photos__item--hidden">
                    <a href="#">
                    <picture>
                        <source media="(min-width: 1440px)"
                            srcset="./images/more-photo/more-photo-12.jpg 1x, ./images/more-photo/more-photo-12@2x.jpg 2x">
            
                        <source media="(min-width: 768px)"
                            srcset="./images/more-photo/more-photo-12-tab.jpg 1x, ./images/more-photo/more-photo-12-tab@2x.jpg 2x">
            
                        <img class="picture" src="#" alt="надруковані кашпо для квітів">
                    </picture>
                    </a>
                </li>
            </ul>
    </div>
</section>