<!-- MAIN-HERO-SECTION -->
<section class="main-hero section">
    <div class="container">
   <div class="main-hero__title-wrapper">
         <h1 class="main-hero__title"><span class="main-hero__title--br-desktop">Інженерна,</span> конструкторська <span class="main-hero__title--br">та дизайнерська робота</span></h1>
    </div>
    <div class="img-anchor__wrapper">
        <div class="hero__slider">
            <div class="slider__item">
                <picture class="picture">
                    <source media="(min-width: 1440px)" srcset="/images/main-hero/desktop/hero-desktop1.jpg 1x, /images/main-hero/desktop/hero-desktop1@2x.jpg 2x">
                    <source media="(min-width: 768px)" srcset="/images/main-hero/tablet/hero-tablet1.jpg 1x, /images/main-hero/tablet/hero-tablet1@2x.jpg 2x">
                    <source media="(min-width: 320px)" srcset="/images/main-hero/mobile/hero-mobile1.jpg 1x, /images/main-hero/mobile/hero-mobile1@2x.jpg 2x">
                <img class="main-hero__img1" src="/images/main-hero/mobile/hero-mobile1.jpg" alt="білий робот">
                </picture>
            </div>
            <div class="slider__item">
                
                    <picture class="picture">
                        <source media="(min-width: 1440px)" srcset="/images/main-hero/desktop/hero-desktop2.jpg 1x, /images/main-hero/desktop/hero-desktop2@2x.jpg 2x">
                        <source media="(min-width: 768px)" srcset="/images/main-hero/tablet/hero-tablet2.jpg 1x, /images/main-hero/tablet/hero-tablet2@2x.jpg 2x">
                        <source media="(min-width: 320px)" srcset="/images/main-hero/mobile/hero-mobile2.jpg 1x, /images/main-hero/mobile/hero-mobile2@2x.jpg 2x">
                        <img class="main-hero__img2" src="/images/main-hero/mobile/hero-mobile2.jpg" alt="дві настільні лампи">
                    </picture>

            </div>
            <div class="slider__item">
                
                    <picture class="picture">
                        <source media="(min-width: 1440px)" srcset="/images/main-hero/desktop/hero-desktop3.jpg 1x, /images/main-hero/desktop/hero-desktop3@2x.jpg 2x">
                        <source media="(min-width: 768px)" srcset="/images/main-hero/tablet/hero-tablet3.jpg 1x, /images/main-hero/tablet/hero-tablet3@2x.jpg 2x">
                        <source media="(min-width: 320px)" srcset="/images/main-hero/mobile/hero-mobile3.jpg 1x, /images/main-hero/mobile/hero-mobile3@2x.jpg 2x">
                        <img class="main-hero__img3" src="/images/main-hero/mobile/hero-mobile3.jpg" alt="білий череп">
                    </picture>

            </div>
            <div class="slider__item">
                
                    <picture class="picture">
                        <source media="(min-width: 1440px)" srcset="/images/main-hero/desktop/hero-desktop1.jpg 1x, /images/main-hero/desktop/hero-desktop1@2x.jpg 2x">
                        <source media="(min-width: 768px)" srcset="/images/main-hero/tablet/hero-tablet1.jpg 1x, /images/main-hero/tablet/hero-tablet1@2x.jpg 2x">
                        <source media="(min-width: 320px)" srcset="/images/main-hero/mobile/hero-mobile1.jpg 1x, /images/main-hero/mobile/hero-mobile1@2x.jpg 2x">
                    <img class="main-hero__img1" src="/images/main-hero/mobile/hero-mobile1.jpg" alt="білий робот">
                    </picture>

            </div>
            <div class="slider__item">
                
                    <picture class="picture">
                        <source media="(min-width: 1440px)" srcset="/images/main-hero/desktop/hero-desktop2.jpg 1x, /images/main-hero/desktop/hero-desktop2@2x.jpg 2x">
                        <source media="(min-width: 768px)" srcset="/images/main-hero/tablet/hero-tablet2.jpg 1x, /images/main-hero/tablet/hero-tablet2@2x.jpg 2x">
                        <source media="(min-width: 320px)" srcset="/images/main-hero/mobile/hero-mobile2.jpg 1x, /images/main-hero/mobile/hero-mobile2@2x.jpg 2x">
                        <img class="main-hero__img2" src="/images/main-hero/mobile/hero-mobile2.jpg" alt="дві настільні лампи">
                    </picture>

            </div>
            <div class="slider__item">
                    
                        <picture class="picture">
                            <source media="(min-width: 1440px)" srcset="/images/main-hero/desktop/hero-desktop3.jpg 1x, /images/main-hero/desktop/hero-desktop3@2x.jpg 2x">
                            <source media="(min-width: 768px)" srcset="/images/main-hero/tablet/hero-tablet3.jpg 1x, /images/main-hero/tablet/hero-tablet3@2x.jpg 2x">
                            <source media="(min-width: 320px)" srcset="/images/main-hero/mobile/hero-mobile3.jpg 1x, /images/main-hero/mobile/hero-mobile3@2x.jpg 2x">
                            <img class="main-hero__img3" src="/images/main-hero/mobile/hero-mobile3.jpg" alt="білий череп">
                        </picture>

            </div>
        </div>
    <div class="anchor-link">
     <a href="#gallery">
         <svg class="anchor-link__svg">
             <use href="./images/svg/icons.svg#arrow-down"></use>
         </svg>
     </a>
    </div>
    </div>
    <p class="main-hero__text">Ми втілюємо ідеї в реальність</p>
</div>
</section>
