<!-- абзац можна видаляти, теги main залишаємо -->
<main>
  <section class="modeling">
    <div class="container modeling-container">
      <h1 class="main__title-section modeling__title">3d моделювання</h1>
      <div class="modeling__block-text">
        <p class="paragraph-text modeling__text">
          Сфера 3D графіки може надати широкий спектр послуг. Але якщо спроектована модель буде
          створюватися шляхом 3D друку, обробки заготовки на ЧПУ станках або іншими виробничими
          методами, то до моделі преставляеться ряд інженерних вимог які повинен враховувати
          дизайнер при розробці моделі.
        </p>
        <p class="paragraph-text modeling__text">
          Наші фахівці допоможуть вам визначитися з технічною стороною вироба і підготують модель
          для її створення. Ми маємо широкий спектр інструментів для вдоволення будь-якої вашої
          задачі.
        </p>
      </div>
      <div class="modeling-block">
        <h2 class="second__title-section modeling__heading">Способи створення моделі:</h2>
        <ul class="modeling__list list">
          <li class="modeling__item">3D сканування</li>
          <li class="modeling__item">На основі фотографій з доданими розмірами</li>
          <li class="modeling__item">За ескізами з розмірами</li>
          <li class="modeling__item">За вашим кресленням</li>
          <li class="modeling__item">По вже існуючому прототипу шляхом зняття розмірів</li>
        </ul>
      </div>
      <h3 class="modeling__caption">Ми створюємо фотореалiстичнi зображення моделей</h3>
      <ul class="modeling__caption-list list">
        <li class="modeling__caption-img">
          <picture>
            <source
              media="(min-widht: 1444px)"
              srcset="
                ./images/modeling-images/desktop/realisticD1x.jpg 1x,
                ./images/modeling-images/desktop/realisticD2x.jpg 2x
              "
            />

            <source
              media="(min-width: 768px)"
              srcset="
                ./images/modeling-images/tab/realisticT1x.jpg 1x,
                ./images/modeling-images/tab/realisticT2x.jpg 2x
              "
            />

            <source
              media="(min-width: 320px)"
              srcset="
                ./images/modeling-images/mob/realisticM1x.jpg 1x,
                ./images/modeling-images/mob/realisticM2x.jpg 2x
              "
            />

            <img
              class="modeling-icon"
              src="./images/modeling-images/mob/realisticM1x.jpg"
              alt="запчастина 1"
            />
          </picture>
        </li>
        <li class="modeling__caption-img">
          <picture>
            <source
              media="(min-widht: 1444px)"
              srcset="
                ./images/modeling-images/desktop/realistic_2D1x.jpg 1x,
                ./images/modeling-images/desktop/realistic_2D2x.jpg 2x
              "
            />

            <source
              media="(min-width: 768px)"
              srcset="
                ./images/modeling-images/tab/realistic_2T1x.jpg 1x,
                ./images/modeling-images/tab/realistic_2T2x.jpg 2x
              "
            />

            <source
              media="(min-width: 320px)"
              srcset="
                ./images/modeling-images/mob/Realistic_2M1x.jpg 1x,
                ./images/modeling-images/mob/Realistic_2M2x.jpg 2x
              "
            />

            <img
              class="modeling-icon"
              src="./images/modeling-images/mob/Realistic_2M1x.jpg"
              alt="штангенциркуль электронный"
            />
          </picture>
        </li>
        <li class="modeling__caption-img">
          <picture>
            <source
              media="(min-widht: 1444px)"
              srcset="
                ./images/modeling-images/desktop/realistic_3D1x.jpg 1x,
                ./images/modeling-images/desktop/realistic_3D2x.jpg 2x
              "
            />

            <source
              media="(min-width: 768px)"
              srcset="
                ./images/modeling-images/tab/realistic_3T1x.jpg 1x,
                ./images/modeling-images/tab/realistic_3T2x.jpg 2x
              "
            />

            <source
              media="(min-width: 320px)"
              srcset="
                ./images/modeling-images/mob/Realistic_3M1x.jpg 1x,
                ./images/modeling-images/mob/Realistic_3M2x.jpg 2x
              "
            />

            <img
              class="modeling-icon"
              src="./images/modeling-images/mob/Realistic_3M1x.jpg"
              alt="компбютерная плата"
            />
          </picture>
        </li>
        <li class="modeling__caption-img">
          <picture>
            <source
              media="(min-widht: 1444px)"
              srcset="
                ./images/modeling-images/desktop/realistic_4D1x.jpg 1x,
                ./images/modeling-images/desktop/realistic_4D2x.jpg 2x
              "
            />

            <source
              media="(min-width: 768px)"
              srcset="
                ./images/modeling-images/tab/realistic_4T1x.jpg 1x,
                ./images/modeling-images/tab/realistic_4T2x.jpg 2x
              "
            />

            <source
              media="(min-width: 320px)"
              srcset="
                ./images/modeling-images/mob/Realistic_4M1x.jpg 1x,
                ./images/modeling-images/mob/Realistic_4M2x.jpg 2x
              "
            />

            <img
              class="modeling-icon"
              src="./images/modeling-images/mob/Realistic_4M1x.jpg"
              alt="Деталь з двох частин, що скріплюються"
            />
          </picture>
        </li>
      </ul>
      
      <a href="./order.html" class="btn__make-order link">Зробити замовлення</a>
    </div>
  </section>
  <div class="bg-img-others modeling-tablet"></div>
</main>
