<!-- абзац можна видаляти, теги main залишаємо -->
<main>
    <section class="printing section">
        <div class="model-examples__container container">
            <h1 class="main__title-section model-examples__title"> ми створюємо </h1>
            <ul class="model-examples printing3d__exapmles-list list">
                <li class="model-examples__item">
                    <picture>
                        <source
                        media="(min-width: 1440px)"
                        srcset="./images/print3d/model_examples/prototype_desktop.png  1x, 
                        ./images/print3d/model_examples/prototype_desktop@2x.png  2x"                                   
                        >
                        <source
                        media="(min-width: 768px)"
                        srcset="./images/print3d/model_examples/prototype_tablet.png  1x, 
                        ./images/print3d/model_examples/prototype_tablet@2x.png  2x"       
                        >
                        <source
                         media="(min-width: 320px)"
                         srcset="./images/print3d/model_examples/prototype_mobile.png  1x, 
                         ./images/print3d/model_examples/prototype_mobile@2x.png  2x"   
                        >
                        <img src="./images/print3d/model_examples/prototype.png" alt="Прототип деталі" class="model-examples__image">
                    </picture>
                    <p class="model-examples__text"> прототипи </p>

                </li>
                <li class="model-examples__item">
                    <picture>
                        <source
                        media="(min-width: 1440px)"
                        srcset="./images/print3d/model_examples/models_desktop.png  1x, 
                        ./images/print3d/model_examples/models_desktop@2x.png 2x"                                   
                        >
                        <source
                        media="(min-width: 768px)"
                        srcset="./images/print3d/model_examples/models_tablet.png 1x, 
                        ./images/print3d/model_examples/models_tablet@2x.png  2x"
                        >
                        <source
                        media="(min-width: 320px)"
                        srcset="./images/print3d/model_examples/models_mobile.png  1x, 
                        ./images/print3d/model_examples/models_mobile@2x.png  2x">
                        <img src="./images/print3d/model_examples/models.png" alt="Макет будівлі" class="model-examples__image">
                    </picture>
                    <p class="model-examples__text"> макети </p>

                </li>
                <li class="model-examples__item">
                    <picture>
                        <source
                        media="(min-width: 1440px)"
                        srcset="./images/print3d/model_examples/decor_desktop.png  1x, 
                        ./images/print3d/model_examples/decor_desktop@2x.png  2x"                                  
                        >
                        <source
                        media="(min-width: 768px)"
                        srcset="./images/print3d/model_examples/decor_tablet.png  1x, 
                        ./images/print3d/model_examples/decor_tablet@2x.png  2x" 
                        >
                        <source
                        media="(min-width: 320px)"
                        srcset="./images/print3d/model_examples/decor_mobile.png  1x, 
                        ./images/print3d/model_examples/decor_mobile@2x.png  2x" >
                        <img src="./images/print3d/model_examples/decor.png" alt="Ваза роздрукована на 3D принтері" class="model-examples__image">
                    </picture>
                    <p class="model-examples__text"> декор </p>

                </li>
                <li class="model-examples__item">
                    <picture>
                        <source
                        media="(min-width: 1440px)"
                        srcset="./images/print3d/model_examples/corporate_style_desktop.png  1x, 
                        ./images/print3d/model_examples/corporate_style_desktop@2x.png  2x"                                   
                        >
                        <source
                        media="(min-width: 768px)"
                        srcset="./images/print3d/model_examples/corporate_style_tablet.png  1x, 
                        ./images/print3d/model_examples/corporate_style_tablet@2x.png  2x" 
                        >
                        <source
                        media="(min-width: 320px)"
                        srcset="./images/print3d/model_examples/corporate_style_mobile.png  1x, 
                        ./images/print3d/model_examples/corporate_style_mobile@2x.png  2x" >
                        <img src="./images/print3d/model_examples/corporate_style.png" alt="Куб з написом 3D" class="model-examples__image">
                    </picture>
                    <p class="model-examples__text design"> корпоративний <br> дизайн </p>

                </li>
            </ul>
        </div>          

    
        <div class="process-description__container container">
            <h2 class="visually-hidden">Наші послуги</h2>
            <div class="process-description-item">
                <div class="pdi-left-side">
                    <picture>
                        <source
                        media="(min-width: 1440px)"
                        srcset="./images/print3d/process_description/print_desktop.jpg  1x, 
                        ./images/print3d/process_description/print_desktop@2x.jpg  2x"                                   
                        >
                        <source
                        media="(min-width: 768px)"
                        srcset="./images/print3d/process_description/print_tablet.jpg  1x, 
                        ./images/print3d/process_description/print_tablet@2x.jpg  2x"       
                        >
                        <source
                         media="(min-width: 320px)"
                         srcset="./images/print3d/process_description/print_mobile.jpg  1x, 
                         ./images/print3d/process_description/print_mobile@2x.jpg  2x"   
                        >
                        <img src="./images/print3d/process_description/print.jpg" alt="3D макет Ейфелевої вежі" class="process-description-image">
                    </picture>
                </div>
                <div class="pdi-right-side">
                    <p class="process-description-text paragraph-text"> <span class="process-description-accent"> 3D-друк </span> - ми використовуємо FDM технологію друку. Вона представляє собою пошарове формування об'єкта за допомогою 3D принтера.</p>
                    <p class="process-description-text paragraph-text"> Моделі для створення розроблюються дизайнерами в спеціальному програмному забезпеченні: системах автоматизованого проектування.</p>
                    <p class="process-description-text__last paragraph-text"> 3D друк знайшов широке застосування в архітектурі, промисловості, маркетингу, мистецтві і багатьох інших сфер.</p>
                    <a class="btn__make-order link process-description__order-btn" href="./order.html">Зробити замовлення</a>
                    
                </div>
            </div>
            <div class="process-description-item">
                <div class="pdi-left-side">
                    <picture>
                        <source
                        media="(min-width: 1440px)"
                        srcset="./images/print3d/process_description/modeling_desktop.jpg  1x, 
                        ./images/print3d/process_description/modeling_desktop@2x.jpg  2x"                                   
                        >
                        <source
                        media="(min-width: 768px)"
                        srcset="./images/print3d/process_description/modeling_tablet.jpg  1x, 
                        ./images/print3d/process_description/modeling_tablet@2x.jpg  2x"       
                        >
                        <source
                         media="(min-width: 320px)"
                         srcset="./images/print3d/process_description/modeling_mobile.jpg  1x, 
                         ./images/print3d/process_description/modeling_mobile@2x.jpg  2x"   
                        >
                        <img src="./images/print3d/process_description/modeling.jpg" alt="Екран монітору у процесі моделювання" class="process-description-image">
                    </picture>
                    
                </div>
                <div class="pdi-right-side">
                    <p class="process-description-text paragraph-text"> <span class="process-description-accent"> 3D-моделювання </span> - це процес розробки математичного уявлення будь-якої поверхні об'єкта в трьох вимірах за допомогою спеціалізованого програмного забезпечення.</p>
                    <p class="process-description-text paragraph-text"> Наші дизайнери зпроектують будь-який виріб виходячи з ваших побажань.</p>
                    <p class="process-description-text__last paragraph-text"> Розуміючи специфіку 3D друку і ваших задач ми створимо деталь яка повністю задовольнить ваші потреби.</p>
                    <a class="btn__make-order link process-description__order-btn" href="./order.html">Зробити замовлення</a>
                </div>
            </div>
            <div class="process-description-item">
                <div class="pdi-left-side">
                    <picture>
                        <source
                        media="(min-width: 1440px)"
                        srcset="./images/print3d/process_description/scanning_desktop.jpg  1x, 
                        ./images/print3d/process_description/scanning_desktop@2x.jpg  2x"                                   
                        >
                        <source
                        media="(min-width: 768px)"
                        srcset="./images/print3d/process_description/scanning_tablet.jpg  1x, 
                        ./images/print3d/process_description/scanning_tablet@2x.jpg  2x"       
                        >
                        <source
                         media="(min-width: 320px)"
                         srcset="./images/print3d/process_description/scanning_mobile.jpg  1x, 
                         ./images/print3d/process_description/scanning_mobile@2x.jpg  2x"   
                        >
                        <img src="./images/print3d/process_description/scanning.jpg" alt="Процес сканування статуетки" class="process-description-image">
                    </picture>
                    
                </div>
                <div class="pdi-right-side">
                    <p class="process-description-text paragraph-text"> <span class="process-description-accent"> 3D-сканування </span> - зняття даних, шляхом аналізу форми предмета і на основі отриманих даних створення її 3D-моделі.</p>
                    <p class="process-description-text__last paragraph-text"> Це універсальний інструмент, який дозволяє отримати як і просто 3D-модель для візуалізації в цифровому вигляді, так і 3D-модель для подальшого її друку на 3D-принтері.</p>
                    <a class="btn__make-order link process-description__order-btn" href="./order.html">Зробити замовлення</a>
                </div>
            </div>

        </div>
                   
    </section>
</main>