<main>
  <section class="scanning container">
    <div class="scanning__hero margin-bottom__middle">
      <h1 class="hero__title main__title-section margin-bottom__min">3D Cканування</h1>
      <div class="hero__wrapper">
        <div class="hero__wrapper-item">
          <p class="hero__item paragraph-text margin-bottom__min">
            Процес створення 3D моделі по вже існуючій деталі може займати тривалий час. У деяких
            випадках процесс може займати багато годин. Але якщо виріб має складну геометрію і
            криволінійні поверхні, то велика ймовірність що перенести об'єкт в тривимірну цифрову
            модель може бути неможливо.
          </p>
          <p class="hero__item paragraph-text margin-bottom__min">
            У такому випадку застосовуэться технологія 3D сканування. Цей метод оцифровки об'єктів
            дозволяє в короткі терміни отримати тривимірну модель деталі з потрібною точністю. Якщо
            від сканування потрібна проста комп'ютерна візуалізація, то допустима похибка сканування
            <span class="br">менше 2%.</span>
          </p>
        </div>
        <div class="hero__wrapper-item">
          <p class="hero__item paragraph-text margin-bottom__middle">
            Якщо потрібно сканування деталей з максимальною точністю, то використовуються спеціальні
            технології і постобробка отриманих <span class="br">сканів фахівцем.</span>
          </p>
        </div>
      </div>
    </div>
    <h2 class="scanning__process second__title-section margin-bottom__min">Процес 3D сканування</h2>
    <div class="scanning__wrapper margin-bottom__max">
      <h3 class="scanning__item image__original-detail">
        Підготовка деталі <span class="br">до сканування</span>
      </h3>
      <h3 class="scanning__item image__scanned-detail">
        Створення сканів <span class="br">і їх обробка</span>
      </h3>
      <h3 class="scanning__item image__transformed-detail">Перетворення reverse engineering</h3>
      <h3 class="scanning__item image__printed-detail">
        Підготовка моделі <span class="br">до друку</span>
      </h3>
    </div>
    <a class="scanning__link--margin-bottom btn__make-order link" href="./order.html"
      >Зробити замовлення</a
    >
  </section>
  <div class="bg-img-others scanning-tablet"></div>
</main>
