body {
  width: 100%;
  max-width: 100%;
  overflow-x: hidden;
}
// Mobile from 0 to 320px to 767px
@media screen and (max-width: 767px) {
  .bg-img-others {
    background-image: url(../../src/images/background/bg-small-mobile.png);

    background-size: 320px 1534px;
    background-repeat: no-repeat;
    background-attachment: local;
    background-position: center top;

    width: 320px;
    height: 1534px;
    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background-image: url(../../src/images/background/bg-small-mobile@2x.png);
    }
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%) scale(1);
    z-index: -100;
  }
}
// Tablet from 768px to 1439px
@media screen and (min-width: 768px) and (max-width: 1439px) {
  .bg-img-others {
    background-image: url(../../src/images/background/bg-small-tablet.png);

    background-size: 768px 1504px;
    background-repeat: no-repeat;
    background-attachment: local;
    background-position: center top;

    width: 768px;
    height: 1504px;
    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background-image: url(../../src/images/background/bg-small-tablet@2x.png);
    }
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%) scale(1);
    z-index: -100;
  }
}
.bg-img-others.modeling-tablet {
  height: 1347px;
}
.bg-img-others.scanning-tablet {
  height: 1269px;
}
// Desktop from 1440px to max
@media screen and (min-width: 1440px) {
  .bg-img-others {
    background-image: url(../../src/images/background/bg-small-desktop.png);

    background-size: 1440px 1491px;
    background-repeat: no-repeat;
    background-attachment: local;
    background-position: center top;

    width: 1440px;
    height: 1491px;
    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background-image: url(../../src/images/background/bg-small-desktop@2x.png);
    }
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%) scale(1);
    z-index: -100;
  }
}
